loglevel=verbose
registry=https://artifactory.wolterskluwer.io/artifactory/api/npm/group-npm/
//artifactory.wolterskluwer.io/artifactory/api/npm/group-npm/:_authToken=cmVmdGtuOjAxOjE4MDg5MTcxMDU6VjAwOURpbWpQOXNNQ1pwZ2JmRGhYYUJTTk1V
@wk:registry=https://artifactory.wolterskluwer.io/artifactory/api/npm/group-npm/
